In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
#Errores Tipo I y Tipo II
#Tipo I: Rechazar Ho --> Falso positivo
#TipoII: No rechazar Ho --> falso negativo

In [3]:

# probalidad de que una moneda ciaga 7 veces cara, lazandola 10 veces

stats.binom(10,0.5).pmf(7)

0.11718750000000014

In [4]:
#Tenemos distribución norma, encontrar un área bajo la curba donde no se rechaza el llenado de botellas
#Encontrar área entre dos puntos, z1=585, z2=615

stats.norm.cdf(2)-stats.norm.cdf(1.75)

0.017309024915637905

In [5]:
#Un albañil se equivoca en 2 ladrillos por línea que ponde en una barde. ¿Cúal es la probabilidad de que no se esquivoque el albañil?
stats.poisson(2).pmf(0)

0.1353352832366127

## Ejercicio 1

In [6]:
sig=0.05
t=300
n=50
m=305 #media
s=30 #desviación estandar

denom=s/(n**0.5) #(desvestan/raiz de #datos)


z_score=(m-t)/denom #z_score=(X-H0)/(desvestan/raiz de #datos)
ppf=stats.norm(0,1).ppf(1-sig) ## PPF es 
p_value=1-stats.norm(0,1).cdf(z_score)
z_score,ppf,p_value

(1.1785113019775793, 1.6448536269514722, 0.11929641465821783)

## Ejercicio 2

In [35]:
mue=35
med=7.91
dest=0.03
alpha=0.01
oz=8

den=dest/(mue**0.5)

z_score=(med-oz)/den
ppfl=stats.norm(0,1).ppf(alpha/2)
ppfu=stats.norm(0,1).ppf(1-alpha/2)
p_value=stats.norm(0,1).cdf(z_score)

z_score,ppfl,ppfu,p_value

(-17.74823934929882,
 -2.575829303548901,
 2.5758293035489004,
 8.892133025881668e-71)

## Ejercicio 3

In [9]:
df=pd.read_csv("water.csv")
df

     Unnamed: 0          0
0             0  16.357251
1             1  14.775995
2             2  16.220070
3             3  15.826246
4             4  15.169998
..          ...        ...
845         845  16.038042
846         846  16.252982
847         847  14.982693
848         848  15.887318
849         849  14.708798

[850 rows x 2 columns]

In [10]:
df.describe()

       Unnamed: 0           0
count   850.00000  850.000000
mean    424.50000   15.914423
std     245.51816    0.994445
min       0.00000   12.632000
25%     212.25000   15.272372
50%     424.50000   15.914169
75%     636.75000   16.541769
max     849.00000   19.486895

In [21]:
m=850
med=15.914169
std=0.994445
alpha=0.01
oz=16

den=std/(m**0.5) #(desvestan/raiz de #datos)

z_score=(med-oz)/den #z_score=(X-H0)/(desvestan/raiz de #datos)
ppfl=stats.norm(0,1).ppf(alpha/2)
ppfu=stats.norm(0,1).ppf(1-alpha/2)

p_value=stats.norm(0,1).cdf(z_score)

z_score,ppfl,ppfu,p_value

print(f' Zscore : {z_score}, ppfl={ppfl}, ppfu={ppfu}, Pvalue={p_value}, conclusión; no se rechaza la hipotesis')

 Zscore : -2.5163605432501086, ppfl=-2.575829303548901, ppfu=2.5758293035489004, Pvalue=0.005928690759854743, conclusión; no se rechaza la hipotesis

## Ejercicio 4

In [12]:
#m=25
#med=174.52
#std=10.31
#alpha=0.01

#den=std/(m**0.5) #(desvestan/raiz de #datos)
#z_score=(med-oz)/den #z_score=(X-H0)/(desvestan/raiz de #datos)

#ppf=stats.norm(0,1).ppf(1-alpha)
#p_value=1-stats.norm(0,1).cdf(z_score)
#z_score,ppf,p_value

(76.8768186226964, 2.3263478740408408, 0.0)

In [32]:
h0=170
m=25
med=174.52
std=10.31
alpha=0.01

den=std/(m**0.5) #(desvestan/raiz de #datos)

t=stats.t(df=25, loc=h0, scale= den)

print(f' el valor de P es de: {1-t.cdf(med)}, Mayor que alpha, por lo tanto, se acepta la hipotesis')

 el valor de P es de: 0.018951760938420104, Mayor que alpha, por lo tanto, se acepta la hipotesis

## Ejercicio 5

In [13]:
## es del tipo t y no Z
m=15
med=16
std=0.8
alpha=0.05

den=std/(m**0.5) #(desvestan/raiz de #datos)
z_score=(med-oz)/den #z_score=(X-H0)/(desvestan/raiz de #datos)

ppf=stats.norm(0,1).ppf(1-alpha)
p_value=1-stats.norm(0,1).cdf(z_score)
z_score,ppf,p_value

(0.0, 1.6448536269514722, 0.5)

## Ejercicio 6

In [ ]:
t=91
n=16
sig=0.1